body {
    margin: 0;
    padding: 0;
    background-color: black;
}

header > h1 {
    text-align: center;
    background-color: white;
    margin: auto;
    margin-top: 60px;
    padding: 10px 2px 15px 2px;
    min-width: 280px;
    max-width: 500px;
    border-radius: 5px 5px 0px 0px;

}

section {
    text-align: center;
    background-color: white;
    margin: auto;
    padding: 10px 2px 15px 2px;
    border-radius: 0px 0px 5px 5px;
    min-width: 280px;
    max-width: 500px;
    display: flex;
}

#principal {
    margin-left: 30px;
}

.botao {
    width: 70px;
}

#seltab {
    width: 150px;
    margin-left: 10px;
    text-align: center;
    font-size: 16px;
    color: gray;
    border-style:solid ;

}

#seltab > h2 {
    font-size: 16px;
    margin-top: 1px;
}

#esp {
    padding: 5px 40px;
    margin-bottom: 15px;
    font-size: 16px;
}

#hist {
    padding: 5px 40px;
    margin-bottom: -1px;
    font-size: 16px;
    color: gray;
}

button {
    margin: 5px;
    width: 50px;
    height: 50px;
    font-size: 16px;
}



.bdel {
    width: 262px;
}

.igual {
    width: 115px;
    background-color: red;
    border-radius: 4px;
    border-style:solid;
    border-width: 1px;
    border-color: gray;
}

.igual:hover {
    background-color: rgb(253, 47, 47);
}

.igual:active {
    background-color: green;
}